[core]
# Configurações básicas
dags_folder = /opt/airflow/dags
base_log_folder = /opt/airflow/logs
plugins_folder = /opt/airflow/plugins
executor = CeleryExecutor
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@postgres/airflow
load_examples = False
dags_are_paused_at_creation = True

[celery]
# Configurações do Celery
broker_url = redis://:@redis:6379/0
result_backend = db+postgresql://airflow:airflow@postgres/airflow

[webserver]
# Configurações do servidor web
web_server_port = 8080
base_url = http://localhost:8080
expose_config = True

[scheduler]
# Configurações do scheduler
enable_health_check = True
dag_dir_list_interval = 300

[api]
# Configurações da API
auth_backends = airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session